# Virtual Environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyc
*.pyo
*.pyd

# Uploads directory
uploads/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database and logs
*.db
*.sqlite3
*.log

# Environment variables
.env

# Tools
wkhtmltopdf*
*.exe

# Notebooks
*.ipynb
